body,
html {
  height: 100%;
  color: white;
}

body {
  background: linear-gradient(to bottom, #0074e4, #55a4e4, #b7d4e4);
}
.main_image {
  font-size: 5em;
}
.temp {
  font-size: 4em;
}

.input {
  background: #55a4e4;
  border: none;
  width: 14em;
}

.input:focus {
  outline: none;
  background: #b7d4e4;
}

.detail {
  margin-bottom: 1.2em;
  font-size: 1.2em;
}
